<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <a href="index.html" class="logo">
                        <img src="~/theme/assets/images/klassy-logo.png" align="klassy cafe html template">
                    </a>

                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Anasayfa</a></li>
                        <li class="scroll-to-section"><a href="#about">Hakkımızda</a></li>


                        <li class="scroll-to-section"><a href="#menu">Menü</a></li>
                        <li class="scroll-to-section"><a href="#chefs">Şefler</a></li>

                        <li class="scroll-to-section"><a href="#reservation">Rezervasyon</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>

                </nav>
            </div>
        </div>
    </div>
</header>
