
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_Address")
            <div class="col-lg-6">
                <div class="contact-form">
                    <form id="contact" action="/Home/Reservation" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Rezervasyon</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="Name" type="text" id="name" placeholder="Adınız" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="Email" type="text" id="email" placeholder="E-mail Adresiniz" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <input name="Phone" type="text" id="phone" placeholder="Telefon Numaranız" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <select value="number-guests" name="Guest" id="number-guests">
                                        <option value="number-guests">Kişi Sayısı</option>
                                        <option name="1" id="1">1</option>
                                        <option name="2" id="2">2</option>
                                        <option name="3" id="3">3</option>
                                        <option name="4" id="4">4</option>
                                        <option name="5" id="5">5</option>
                                        <option name="6" id="6">6</option>
                                        <option name="7" id="7">7</option>
                                        <option name="8" id="8">8</option>
                                        <option name="9" id="9">9</option>
                                        <option name="10" id="10">10</option>
                                        <option name="11" id="11">11</option>
                                        <option name="12" id="12">12</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <div id="filterDate2">
                                    <div class="input-group date" data-date-format="dd/mm/yyyy">
                                        <input name="Date" id="date" type="text" class="form-control" placeholder="dd/mm/yyyy">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <select value="time" name="Time" id="time">
                                        <option value="time">Gün Aralığı</option>
                                        <option name="Breakfast" id="Breakfast">Kahvaltı</option>
                                        <option name="Lunch" id="Lunch">Öğle Yemeği</option>
                                        <option name="Dinner" id="Dinner">Akşam Yemeği</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="Message" rows="6" id="message" placeholder="Özel Mesajınız" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button-icon">Rezervasyonu Oluştur</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
